<div class="container">    
    <div class="search-tabs search-tabs-bg">
        <h1>Search for Flight</h1>
        <form name="frmFlightSearch" ng-submit="flightCtrl.getFlights()" no-validate>
            <div class="tabbable">
                <ul class="nav nav-pills nav-sm nav-no-br mb10" id="flightChooseTab">
                    <li ng-class="{'active': flightCtrl.tripType==2}"><a href="javascript:;" ng-click="flightCtrl.tripType=2">Round Trip</a></li>
                    <li ng-class="{'active': flightCtrl.tripType==1}"><a href="javascript:;" ng-click="flightCtrl.tripType=1">One Way</a></li>
                </ul>
                <div class="clearfix"></div><hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                    <label>From</label>
                                    <select name="fromCity" class="form-control" data-ng-options="o as o.title for o in flightCtrl.cities track by o.id" ng-model="flightCtrl.fromCity" required>
                                        <option value="">select city</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                    <label>To</label>
                                    <select name="toCity" class="form-control" data-ng-options="o as o.title for o in flightCtrl.cities track by o.id" ng-model="flightCtrl.toCity" required>
                                        <option value="">select city</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-daterange" data-date-format="M d, D">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Departing</label>
                                        <input class="form-control" name="start" type="date" ng-model="flightCtrl.startDate" min="{{flightCtrl.minDate}}"  required/>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="flightCtrl.tripType==2">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Returning</label>
                                        <input class="form-control" name="end" ng-model="flightCtrl.endDate" type="date" min="{{flightCtrl.minDate}}" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-lg form-group-select-plus">
                                        <label>Passengers</label>
                                        <select name="passengers" data-ng-options="o as o for o in [1,2,3,4,5]" ng-model="flightCtrl.passengers" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit" ng-disabled="frmFlightSearch.$invalid">Search for Flights</button>
        </form>
    </div>
    <h3 class="booking-title" ng-if="flightCtrl.startDate != ''">{{flightCtrl.flights.length}} Flights between {{flightCtrl.fromCity.title}} to {{flightCtrl.toCity.title}} on {{flightCtrl.startDate | date}} <span ng-if="flightCtrl.tripType==2"> and {{flightCtrl.endDate | date}}</span></h3>
    
    <div class="row" ng-if="flightCtrl.flights.length > 0">
        <div class="col-md-12">
            <rzslider rz-slider-model="flightCtrl.minPrice" rz-slider-high="flightCtrl.maxPrice" rz-slider-options="flightCtrl.slider_options">
            </rzslider>
        </div>
    </div>
    
    <div class="clearfix" style="padding: 15px;"></div>
    <div class="row" ng-if="flightCtrl.flights.length > 0">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Flight</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>To -> From</th>
                    <th>Duration</th>
                    <th>Price/Person</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flight in flightCtrl.flights | orderBy : 'price' | orderBy : ''">
                    <td>{{flight.title}}</td>
                    <td>{{flight.time}}</td>
                    <td ng-if="flightCtrl.fromCity.id == flight.from_city_id">{{flightCtrl.startDate | date}}</td>
                    <td ng-if="flightCtrl.fromCity.id == flight.to_city_id">{{flightCtrl.endDate | date}}</td>
                    <td ng-if="flightCtrl.fromCity.id == flight.from_city_id">{{flightCtrl.fromCity.title}} -> {{flightCtrl.toCity.title}} (LHR)</td>
                    <td ng-if="flightCtrl.fromCity.id == flight.to_city_id">{{flightCtrl.toCity.title}} -> {{flightCtrl.fromCity.title}} (RHL)</td>
                    <td>{{flight.duration | formatTime}}</td>
                    <td>{{flight.price}}</td>
                    <td>{{flight.price*flightCtrl.passengers}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>    